<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <contexts>
      <context type="PATIO.Classes.AccesNet, PATIO">
        <databaseInitializer type="PATIO.DAL.CAPAInitializer, PATIO"/>
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="MSSQLLocalDB"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--   <add name="CAPAContext" connectionString="Data Source=MSI-FIMOD\SQLEXPRESS;Initial Catalog=PATIO;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" /> 
    <add name="CAPAContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PATIO;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient"/>
    <add name="CAPAContext" connectionString="Data Source=ARS059M11024\SQLEXPRESS;Initial Catalog=PATIO;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
         <add name="CAPAContext" connectionString="Data Source=idevelop.database.windows.net;Initial Catalog=PATIO;Integrated Security=False;User ID=admin_capa;Password=********;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
