<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iGrid.NET" version="1.2.0" targetFramework="net461" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net46" />
</packages>